﻿@model KidKinder.Entities.BookASeat
@{
    ViewBag.Title = "CreateBookASeatAdmin";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Basic Form Inputs card start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Yeni Branş Girişi</h5>
                                <span>Branş ile ilgili verilieri eksiksiz olarak doldurunuz</span>
                            </div>
                            <div class="card-body rounded-bottom bg-primary p-5">
                                @using (Html.BeginForm("CreateBookASeatAdmin", "BookASeatAdmin", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        @*@Html.HiddenFor(x => x.BookASeatId)*@
                                        @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control", placeholder = "İsminiz" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Mail Adresiniz" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", placeholder = "Telefon Numaranız" })
                                    </div>
                                    <div class="form-group">
                                        @Html.DropDownListFor(x => x.ClassRoomId, (SelectList)ViewBag.ClassRoom, "Sınıf Seçiniz", new { @class = "form-control" })
                                    </div>
                                    <div>
                                        <button class="btn btn-secondary btn-block border-0 py-3"
                                                type="submit">
                                            Ayırtın
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
