@model KidKinder.Entities.BookASeat
<div class="col-lg-5">
    <div class="card border-0">
        <div class="card-header bg-secondary text-center p-4">
            <h1 class="text-white m-0">Yer Ayırtın</h1>
        </div>
        <div class="card-body rounded-bottom bg-primary p-5">
            <form>
                <div class="form-group">
                    <input type="text"
                           class="form-control border-0 p-4"
                           placeholder="Veli İsmi"
                           required="required" />
                </div>
                <div class="form-group">
                    <input type="text"
                           class="form-control border-0 p-4"
                           placeholder="Çocuğunuzun İsmi"
                           required="required" />
                </div>
                <div class="form-group">
                    <input type="text"
                           class="form-control border-0 p-4"
                           placeholder="Telefon Numaranız"
                           required="required" />
                </div>
                <div class="form-group">
                    <input type="email"
                           class="form-control border-0 p-4"
                           placeholder="Email Adresiniz"
                           required="required" />
                </div>
                <div class="form-group">
                    @Html.DropDownListFor(x=>x.BookASeatId, (SelectList)ViewBag.Classroom,"Sınıf Seçiniz",new {@class= "form-control border-0 " })
                </div>
                <div>
                    <button class="btn btn-secondary btn-block border-0 py-3"
                            type="submit">
                        Ayırtın
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
