<li class="user-profile header-notification">
    <a href="#!" class="waves-effect waves-light">
        <img src="~/images/IMG_20221116_143920_195.jpg" class="img-radius" alt="User-Profile-Image">
        <span>Safa Yüce</span>
        <i class="ti-angle-down"></i>
    </a>
    <ul class="show-notification profile-notification">
        <li class="waves-effect waves-light">
            <a href="/ContactAdmin/Index">
                <i class="ti-email"></i> Mesajlarım
            </a>
        </li>
        <li class="waves-effect waves-light">
            <a href="/Login/LogOut">
                <i class="ti-layout-sidebar-left"></i> Çıkış
            </a>
        </li>
    </ul>
</li>

