<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">KidKinder AdminPaneli</h5>
                    <p class="m-b-0">Gerekli bütün işlemleri buradan gerçekleştirebilirsin</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Default/Index"> <i class="fa fa-home"></i>Ana Sayfa</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Yönetim</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Kontrol Paneli</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
