﻿@model KidKinder.Entities.BookASeat
@{
    ViewBag.Title = "BookASeatProcess";
    Layout = null;
}
<div class="col-lg-5">
    <div class="card border-0">
        <div class="card-header bg-secondary text-center p-4">
            <h1 class="text-white m-0">Yer Ayırtın</h1>
        </div>
        <div class="card-body rounded-bottom bg-primary p-5">
            @using (Html.BeginForm("BookASeatProcess", "BookASeat", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control", placeholder = "İsminiz" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Mail Adresiniz" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", placeholder = "Telefon Numaranız" })
                </div>
                <div class="form-group">
                    @Html.DropDownListFor(x => x.ClassRoomId, (SelectList)ViewBag.ClassRoom, "Sınıf Seçiniz", new { @class = "form-control" })
                </div>
                <div>
                    <button class="btn btn-secondary btn-block border-0 py-3"
                            type="submit">
                        Ayırtın
                    </button>
                </div>
            }
        </div>
    </div>
</div>