
@{
    ViewBag.Title = "BookASeatList";
    Layout = null;
}
<ul class="list-inline m-0">
    <li class="py-2">
        <i class="fa fa-check text-success mr-3"></i>
        Her çocuğun benzersiz ihtiyaçlarına ve öğrenme tarzına uygun bir eğitim sunuyoruz.
    </li>
    <li class="py-2">
        <i class="fa fa-check text-success mr-3"></i>
        Sanat, spor, müzik ve daha fazlası! Öğrencilerimizin ilgi alanlarına uygun geniş bir etkinlik yelpazesi sunuyoruz.
    </li>
    <li class="py-2">
        <i class="fa fa-check text-success mr-3"></i>
        Sizlerle birlikte çocuğunuzun başarılı olması için çalışıyoruz. Aktif veli katılımını teşvik ediyoruz.

    </li>
</ul>

