
@{
    ViewBag.Title = "BookASeat";
    Layout = null;
}

﻿<div class="container-fluid py-5" id="bookaseat">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <p class="section-title pr-5">
                    <span class="pr-2">Bir Sandalye Ayırın</span>
                </p>
                <h1 class="mb-4">Hemen Kaydolun</h1>
                <p>
                    Eğitimin önemini biliyoruz ve çocuğunuzun başarılı bir geleceğe sahip olması için en iyi eğitimi almasını istiyorsunuz. Biz de buradayız! Okulumuz, öğrencilerimize benzersiz bir öğrenme deneyimi sunmak için tasarlanmıştır. Nitelikli öğretmenlerimiz, yenilikçi müfredatlarımız ve zengin ekstra aktivitelerimizle çocuğunuzun potansiyelini keşfetmesine ve gelişmesine yardımcı oluyoruz.
                </p>
                @Html.Action("BookASeatList")
            </div>
            @Html.Action("BookASeatProcess")
        </div>
    </div>
</div>

